<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore o mundo de LostMirror, um jogo de aventura e mistério com arte pixelada e uma história envolvente!">
    <title>LostMirror - Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.png" style="width: 80px; height: 80px;">
            <h1>LostMirror</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#about">Sobre</a>
                </li>
                <li>
                    <a href="#hero">Baixar</a>
                </li>
                <li>
                    <a href="#contact">Contato</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="hero" id="hero">
        <h2>Encontre o fragmento perdido</h2>
        <p>Uma jornada de aventura e mistério como você nunca viu!</p>
        <button>Baixar Agora</button>
        <button>Assista ao Trailer</button>
    </section>

    <section class="section" id="trailer">
        <h2>Trailer</h2>
        <video controls width="80%" height="400px" poster="../assets/img/teaser_poster.png">
            <source src="../assets/videos/teaser.mp4" type="video/mp4">
            Seu navegador não suporta a reprodução de vídeos.
        </video>
    </section>


    <section class="section" id="about">
        <h2>Sobre o Jogo</h2>
        <p>
            Em uma noite que parecia comum, um grupo de estudantes se vê preso dentro da escola após o anoitecer. O que começa como uma simples curiosidade logo se transforma em um pesadelo real: criaturas sobrenaturais emergem das sombras, perseguindo cada passo, cada sussurro, cada batida do coração. Sem comunicação com o mundo exterior e cercados por forças que desafiam a lógica, eles precisam trabalhar juntos, superar seus medos e encontrar uma saída antes que seja tarde demais.
            <br><br>
            <b>LostMirror é um jogo de horror e aventura em PixelArt</b> que mergulha o jogador em ambientes sombrios, puzzles desafiadores e decisões que podem significar a vida ou a morte. Explore corredores abandonados, descubra segredos esquecidos e enfrente horrores além da compreensão humana. Você terá coragem suficiente para encarar o espelho e enfrentar o que está do outro lado?
        </p>
    </section>

    <section class="section" id="features">
        <h2>Características</h2>
        <div class="features">
            <div>Jogabilidade inovadora</div>
            <div>Arte pixelada detalhada e vibrante.</div>
            <div>História envolvente cheia de mistérios e reviravoltas.</div>
            <div>Trilha sonora original que imerge você no universo.</div>
            <div>Sistema de Sanidade e Easter Egg's</div>
        </div>
    </section>

    <section class="section" id="gallery">
        <h2>Galeria</h2>
        <div class="gallery">
            <img src="../assets/img/01.gif" alt="Captura de tela 1">
            <img src="../assets/img/02.gif" alt="Captura de tela 2">
            <img src="../assets/img/03.gif" alt="Captura de tela 3">
        </div>
    </section>

    <footer id="contact">
        <p>© 2025 LostMirror. Todos os direitos reservados.</p>
        <p>Siga-nos: 
            <a href="#">Twitter</a> | 
            <a href="https://www.instagram.com/kitsune_studios144/">Instagram</a> | 
            <a href="#">Facebook</a>
        </p>
    </footer>
</body>
</html>
